

nav{
 width: 100%;
 height: 100px;
 background-color: rgb(26, 22, 22);
 display: flex;
 align-items: center;
}
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 
}
body{
  width: 100%;
 height: 1000vh;
 
 font-family: 'Permanent Marker', cursive;

}
.tickets{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
}

.colors_bar{
 background-color: rgb(92, 87, 94);
width: 400px;
height: 80px;
margin-left: 4rem;
display: flex;
align-items: center;
justify-content: space-evenly;
border-radius: 1rem;
border:  0.1px solid rgb(148, 140, 140);
}

.red{
 background-color: palevioletred;
 width: 70px;
 height: 40px;
 
}
.orange{
 background-color: rgb(92, 182, 111);
 width: 70px;
 height: 40px;
}
.yellow{
 background-color: rgb(230, 230, 83);
 width: 70px;
 height: 40px;
}
.white{
 background-color: rgb(0, 0, 0);
 width: 70px;
 height: 40px;
}
.colorbox:hover{
  background-color: rgb(199, 180, 180);
  cursor: pointer;
 
}

.twoicons{
display: flex;
width: 50% 50%;
flex-wrap: wrap;
justify-content: space-evenly;
align-items: center;
padding: 0;
 width: 150px;
 height: 80px;
 margin-left: 100px;
 font-size: 2rem;
color: white;
background-color: rgb(92, 87, 94);
border-radius: 1rem;
border: 0.5px solid rgb(148, 140, 140);
}

.addicn:hover{
  padding: 0;
 font-size: 3rem;
 cursor: pointer;
 color: rgb(61, 179, 61);

}
.deleteicon:hover{
  padding: 0;
 font-size: 3rem;
 color: rgb(233, 64, 64);
 cursor: pointer;

}
.ticket{
 position: relative;
 background-color: rgb(211, 195, 216);
 width: 200px;
 height: 250px;
 margin: 2rem;
 border-radius: 1rem;
 overflow: hidden; /* Hide content that overflows */
  word-wrap: break-word; /* Wrap long words onto the next line */
  
}
.ticket-task{
 outline: transparent;
 width: 100%;
 color: rgb(0, 0, 0);

}
.priorityclr{
 width: 200px;
 height: 1rem;
 
 
}
.idbox{
 width: auto;
 height: 2rem;
 background-color: rgb(72, 135, 207);
}
.lockicon{
position: absolute;
bottom: 0;
right: 0;
margin: 10px;
}
.tickets{
 display: flex;
 justify-content: center;
}
.popupbox{
 position: fixed;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 
 width: 500px;
 height: 400px;
 background-color: rgb(75, 67, 67);
 display: none;
 border: 1px solid black;
}
.popupbox .right div:hover{
 border: 3px solid white;
}
.left{
 background-color: azure;
 width: 75%;
 height: auto;
}
.right{
 margin-left: 52px;
width: 30%;
display: flex;
flex-direction: column;
justify-content: space-evenly;

}
.textareacont{
 padding: 4px;
 outline: none;
  border: transparent; 
 font-size: 1.5rem;
 background-color: transparent;
 width: 100%;
 height: 100%;
 resize: none;
}
.active{
 border: 3px solid paleturquoise;
}
.lockicon:hover{
 cursor: pointer;
}
.addicn{
  color: white;
}
.deleteicon{
  color: white;
}
.dltactive{
  color: red;
}
.legend{
  position: relative;
}

.container1{
  position: fixed;
  bottom: 3px;
  right: 3px;
  background-color: rgb(102, 102, 109);
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 2rem;
}

.task{
 display: flex;
 align-items: center;
 margin-left: 15px;
}
.task > span{
 margin-left: 10px;
 color: white;
}
.crossmark{
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font: 1em sans-serif;
  cursor: pointer;
}
 